.aiFloatingButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  background-color: #006BB4;
  color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px
}
